<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1><%= listing.title %></h1>
        <img src="<%= listing.image.url %>" alt="<%= listing.title %>" class="square-img-250">
        <p><%= listing.description %></p>
        <ul>
            <li><b>Price:</b> $<%= listing.price.toLocaleString() %></li>
            <li><b>Location:</b> <%= listing.location %></li>
            <li><b>Country:</b> <%= listing.country %></li>
        </ul>
        <a href="/listings/<%= listing._id %>/edit">Edit this listing</a>
        <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
        </form>
    </div>
</div>